html {
	cursor: none;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.title {
	margin-top: 45px;
	margin-bottom: 45px;
	text-align: center;
	font-size: 36px;
	font-weight: bold;
}

.table {
	margin: 0px 10px;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 24px;
	font-weight: bold;
}

.table tr {
	height: 50px;
	border-style: solid none;
	border-width: 2px 20px;
	border-color: #e00;
}

.table td {
	padding: 10px 20px;
}

.table .header {
	height: 40px;
	border-style: none;
	color: #aaa;
}

.table .header > * {
	padding-top: 0px;
	padding-bottom: 0px;
}

.table .footer {
	height: 30px;
	border-style: none;
}

.table .footer .footer {
	font-size: 21px;
	text-align: right;
	color: #aaa;
}

.table .footer > * {
	padding-top: 20px;
	padding-bottom: 0px;
}

.swatch {
	height: 40px;
	width: 40px;
	border-style: solid;
	border-width: 2px;
}

.aktiv {
	background-color: #bbb;
}

.aktiv#sort_color_0 {
	color: #0a0;
}

.aktiv#sort_color_1 {
	color: #ff0;
}

.aktiv#sort_color_2 {
	color: #f80;
}

.aktiv#sort_color_3 {
	color: #f00;
}

.inaktiv {
	background-color: #bbb;
	color: #fff;
}

.big-box {
	margin: 10px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #d00;
}

h3 {
	line-height: 100%;
	margin-top: 0px;
	margin-bottom: 10px;
}
